DesafioTecnico.Domain/bin/

DesafioTecnico.Domain/obj/

DesafioTecnico.Domain.API/bin/

DesafioTecnico.Domain.API/obj/

DesafioTecnico.Domain.Infra/bin/

DesafioTecnico.Domain.Infra/obj/

DesafioTecnico.Domain.Tests/bin/

DesafioTecnico.Domain.Tests/obj/

.vscode/

